
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

ul, li {
  color: #8f8f8f;
  text-align: left;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15  %;
}

/* Sections */

.colored-section {
  background-color: #343A40;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: normal;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title {
  background-color: #343A40;
  color: #fff;
  height: 35rem;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.contact-icons{
position: relative;
left: 56%;
padding: 5rem 1rem;
top: 1%;
}
.contact-icons .icons{
  padding: 2rem 1rem;
}

/* Title Image */
@media (min-width: 768px) {
.title-image {
  width: 120%;
  left: 75%;
  border-radius: 50%;
}}
@media (max-width: 768px) {
  .title-image {
    width: 85%;
    left: 80%;
    border-radius: 50%;
  }
  .details-section{
    position: relative;
    font-size: .8rem;
    right: 63%;
  }
}
#name{
  font-size: 240%;
  padding-top: 1rem;
  position: relative;
  left: 56%;
}
#details{
  position: relative;
  left: 56%;
  font-size: 110%;
  padding: 2%;
}
/* Education Section */
.container-education{
margin: 0;
padding: 7% 0 7% 12%;
text-align: center;
}

#education {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  margin-left: 1%;
  padding: 5% 0 0 10%;
}

.feature-box {
  padding: 4.5% 3%;
  text-align: left;
}
.icon-education{
  padding-left: 9%;
  color: #181D31;
}
.icon-education:hover{
  color: #DED9C4;
}

.Education-list{
  text-align: left;
}

/* Testimonial Section */

#workexperience {
  background-color: #343A40;
}
#container-Projects{
  text-align: center;
color: #fff;
font-size: 1rem;
}

.testimonial-text {
  font-size: 1.7rem;
  line-height: 1.5;
  padding: 0 0 3% 0;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #343A40;
  padding-bottom: 3%;
}

.press-logo {
  margin: 2%;
  width: 10%;
}
.darwinbox-logo{
  width: 15%;
}

/* Skills and Interests */


#skills-and-interests {
  padding: 80px 100px 10px 100px;
}
h3{
  font-weight: bold;
  font-size: 1.4rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
